* {
	box-sizing: border-box;
}

h2 {
	margin-left: 20px;
	font-size: 32px;
	color: mediumspringgreen;
}

.filter__item {
	display: inline-block;
	font-size: 24px;
	color: mediumspringgreen;
}

.filter__item:not(:last-of-type):after {
	content: " /";
	color: black;
}

.filter__link {
	text-decoration: none;
	display: inline;
	margin: 0;
}

.users {
	min-height: 80%;
	/*height: 80% !important;*/
}

.users:after {
	content: '';
	display: block;
	clear: both;
}

.user {
	width: 300px;
	display: inline-block;
	text-align: center;
	border: 3px solid mediumspringgreen;
	margin: 5px;
}

.user__img {
	width: 100%;
	height: 200px;
}

.contacts {
	position: relative;
	margin-left: 20px;
}

:root {
	--main-color: #2ac97e;
}

body {
	all: unset;
	font-family: Open Sans;
	font-size: 16px;
}

section, article, header {
	padding: 1rem;
}

section {
	display: flex;
	}

a, li {
	display: block;
	margin: 5px;
	text-decoration: none;
}

.info i {
	color: var(--main-color);
}
.btn {
	background-color: #000;
	color: #fff;

	height: 25px;

	border: none;
	border-radius:10%;
}

.main {
	margin: 1rem;
}

.menu {
	display: block;
	width: 30%;
	background-color: #c0c0c0;
}

.menu_hide {
	display: none;
}

.menu__item {
	color: var(--main-color);
	border-bottom: 1px solid #a0a0a0;
}

.menu__item:hover, .menu__item:active {
	color: black;
	background-color: #a0a0a0;
}

.btn_hide {
	visibility: hidden;
}
.skill {
	flex-direction: column;
	width: 70%;
	padding: 1rem;
}

.skill__form {
	border: 1px solid var(--main-color);
	padding: 1rem;
	position: relative;
}

.skill__input {
	width: 70%;
	margin-right: 0;
	position: absolute;
	right: 1rem;
}

.skill__item {
	background-color: var(--main-color);
	/*width: 50%;*/
}

.education {

	justify-content: space-between;
	overflow-y: scroll;
	height: 20rem;
}
.education__time {
	margin: 0 5%;
}
.education__year {
	position: relative;
	height: 100%;
}
.education__year:after {
	content: '';
	left: -1px;
	display: block;
	margin: 0 auto;
	width: 2px;
	height: calc(100% - 25px);
	background-color: var(--main-color);
}
.education__description {
	background-color: #c0c0c0;
	position: relative;

}
.education__description:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-right: 12px solid #c0c0c0;
	position: absolute;
	top: 16px;
	left: -12px;
}

.experience{
	justify-content: flex-start;
}
.experience__time {
	margin-right: 1rem;
}

.experience__item {
	position: relative;
}

.experience__item:after {
	content: "";
	display: block;
	position: absolute;
	border-bottom: 1px dashed var(--main-color);
	width: 100%;
	bottom: 0;
}

.to-top {
	position: fixed;
	right: 1rem;
	bottom: 5%;
}